/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body { 
	padding-top: 60px;
}
footer { margin-top: 100px; }
table, td, th { vertical-align: top !important; border: none !important; padding:10px; }
th { border-bottom: 1px solid #DDD !important; }
a 
{
	color:#9966CC;
	text-decoration:underline;
}
.container h1
{
	color:purple;
}
.navbar-header, .nav navbar-nav
{
	display: block;
    float: left;
    left: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 50px;
    margin-top: 0;
    position: relative;
}
.nav navbar-nav 
{
	float:left;
}
.navbar-brand 
{
	font-size:20px;
}